/* Caption for all the text */
div.caption {
  position: absolute;
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px black; 
  margin: auto;
  width: 100%;
  text-align: center;
  margin: auto;
}

.largeText {
  font-size: 50px;
}

.mediumText {
  font-size: 35px;
}

.smallText {
  font-size: 20px;
}

/* Top text */
div.topText {
  top: 12px;
}

/* Bottom text */
div.botText {
  bottom: 90px;
}

img {
  width:100%;
}